
.item{
    height: 10rem;
    display: inline-block;
    border: 1px solid #ccc;
    margin-bottom:1em;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.item div{
    padding:1em;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.item div p{
    margin-left: 1em;
}

.item:hover{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}
.list{
    width:100%;
}
.item.grid {
    width: 49%;
}