*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
li,ul,ol{
    list-style:none;
}
button{
    border:0;
}
.wrap{
    max-width: 1000px;
    margin:0 auto;
}
.search{
    background-color:#222;
    padding:1em ;
    margin-bottom:3em;
}
.search .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.search h1{
    width: 25%;
}
.search h1 a{
    display: flex;
    align-items: center;
    color:#fff;
}
.search h1 a span{
    padding-left:0.5em;
    font-size: 1.25rem;
}
.searcch_inpbtn{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searcch_inpbtn button{
    background: none;
    width: 2rem;
    height: 2rem;
    margin-left:1em;
}
.searcch_inpbtn button img{
    width: 100%;
}
.searcch_inpbtn input{
    height: 2rem;
    width: 100%;
}
